@page "/pagecdeveloperanddesigner"
@inject SingletonServices singleton
@inject NavigationManager NavigationManager


<h3 class="text-center">Projects Table</h3>
@if (MongoExamples.SearchProjectDeveloper(singleton.user._id).Count == 0 && MongoExamples.SearchProjectDesigner(singleton.user._id).Count == 0)
{
    <p>No Project...</p>
}
else
{
    <p class="text-center fw-bold mb-5 mx-1 mx-md-4 mt-4">
            <table class="table table-bordered">
                <thead class="alert-dark">
                    <tr>
                        <th>Name</th>
                        <th>Type project</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var project in projects)
                {
                    <tr>
                        <td><a>@project.Name</a></td>
                        <td>@project.TypeProject</td>
                        <td><button type="button" class="btn btn-success" @onclick="() => OnClickBtn(project)">Open project</button></td>
                    </tr>
                }
                </tbody>
            </table>
        </p>
}

@code {
    List<Project> projects = new List<Project>();

    protected override void OnInitialized()
    {
        projects = MongoExamples.SearchProjectDeveloper(singleton.user._id).Count != 0 ?
        MongoExamples.SearchProjectDeveloper(singleton.user._id) : MongoExamples.SearchProjectDesigner(singleton.user._id);
    }

    private void OnClickBtn(Project project)
    {
        singleton.thisProject = project;
        if (singleton.user.Department == "Developer") NavigationManager.NavigateTo("/pagefileinsertdev");
        else NavigationManager.NavigateTo("/pagefileinsertdes");
    }
}
